


<section class="d">
  <footer>
    <div class="d-item">
      <img class="logo" src="images/logo.png" alt="">
      <div class="footer-img">
      <img src="./images/icon-facebook.svg" alt="">
      <img src="./images/icon-youtube.svg" alt="">
      <img src="./images/icon-twitter.svg" alt="">
      <img src="./images/icon-pinterest.svg" alt="">
      <img src="images/icon-instagram.svg" alt="">
    </div>
       </div>

       <div class="links">
    <div class="d-item">
      <ul>
        <li>Home</li>
        <li>Business</li>
        <li>Travel</li>
      </ul>
    </div>
    <div class="d-item">
      <ul>
        <li>Health</li>
        <li>Support</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>

  </footer>
</section>
</div>

</body>
</html>
